/* global general settings reset & font setting */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* relative allows anchoring of other CSS positions
+VH for page scrolling */
body {
    position: relative;
    height: 500vh;
}

/* spacing to allow placement of nav bar above */
header {
    width: 100%;
    margin-top: 60px;
    margin-bottom: -30px;
}

/* center-aligned header message */
h1 {
    text-align: center;
}

/* start of navigation bar */
nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: green;
 color: white;
 font-size: 20px;
 border-bottom: 8px solid peachpuff;
}

ul {
    list-style-type: none;
    text-align: right;
    padding: 10px 0;
    padding-right: 12px;
}

li {
 display: inline;
 margin: auto 1%;
}

a {
 color: white;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
 font-style:italic;
}
/* end of navigation bar */

/* start of main website img section */
figure {
 width: 100%;
 margin-top: 5%;
}

figure img,
figcaption {
    display: block;
    width: 25%;
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}
/* end of main website img section */


/* start of contact me form */

section {
    position: relative;
    background-color: peachpuff;
    border-top: 5px solid rgb(228, 172, 123);
    padding-top: 20px;
    height: 180px;
    text-align: center;
}

section div {
    position: absolute;
    width: 50%;
    margin: 1% 25%;
    padding-bottom: 50px;
    border: 5px solid rgb(228, 172, 123) ;
    border-radius: 10px;
}

section div input {
    display: block;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px gray;
    margin: auto;
}

section button {
    position: relative;
    background-color: rgb(96, 94, 94);
    font-size: 18px;
    padding: 2px 14px;
    color: white;
    margin-top: 88px;
    margin-left: 1.5%;
    width: auto;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
}

section button:hover {
    background-color: rgb(21, 99, 73);
}

section button:active {
    background-color: rgb(21, 99, 73);
    box-shadow: 0 5px gray;
    transform: translateY(4px);
}
/* end of contact me form */

/* start of footer */
footer {
    background-color: rgb(21, 99, 73);
    color: white;
    font-size: 10px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 5px solid rgb(96, 94, 94);
}
/* end of footer */