/* global general settings reset & font setting */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* relative allows anchoring of other CSS positions
+VH for page scrolling */
body {
    position: relative;
    height: 500vh;
}

/* spacing to allow placement of nav bar above */
header {
    width: 100%;
    margin-top: 60px;
    /* margin-bottom:; might need this for positioning*/
}

/* center-aligned header message */
h1 {
    text-align: center;
}

/* start of navigation bar */
nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: green;
 color: white;
 font-size: 20px;
 border-bottom:8px solid peachpuff;
}

ul {
    /* overall list location...also need to nullify style */
}

li {
 /* specific settings for each individual list items */
}

a {
 /* possible style changes to link */
}

a:hover {
 /* tiny change when mouse is hovered over */
}
/* end of navigation bar */